@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeue.woff') format('woff'),
  url('../fonts/HelveticaNeue.ttf')  format('truetype'),
  url('../fonts/HelveticaNeue.svg#HelveticaNeue') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeueBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeueBold.woff') format('woff'),
  url('../fonts/HelveticaNeueBold.ttf')  format('truetype'),
  url('../fonts/HelveticaNeueBold.svg#HelveticaNeueBold') format('svg');
  font-weight: bold;
  font-style: normal;
}